.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.depoimentos .card-item{
    background-color: #d3e6fd;
    margin: 15px;
    border-radius: 14px;
    text-align: center;
    width: 350px;
    transition: 0.2s;
}

.depoimentos .card-item img{
    border-radius: 80%;
    width: 80px;
}

.depoimentos .card-item .nome-user{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
    transition: 0.2s;
}

.depoimentos .card-item  .depoimento-user{
    font-size: 15px;
    padding: 0 15px;
}

.depoimentos .card-item .estrelas{
    margin: 15px 0;
    border-top: 2px solid #4f9bf923

}

.depoimentos .card-item .estrelas {
    color: #4f9cf9;
    margin-top: 15px;
    font-size: 20px;
    transition: 0.2s;
}
.depoimentos .card-item:hover{
    background-color: #4f9cf9;
    margin-top: -5px;
}
.depoimentos .card-item:hover .nome-user,
.depoimentos .card-item:hover .depoimento-user,
.depoimentos .card-item:hover .estrelas{
    color: white;
}